<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mruby Web</title>

        <link href="/public/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
            <main class="bd-main order-1">
              <div class="bd-content ps-lg-2">
                <div class="bd-example-snippet bd-code-snippet"><div class="bd-example">
                <form class="needs-validation" novalidate="" action="/" method="put">
                  <div class="form-floating">
                    <textarea class="form-control" name="code" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 169px;">@code</textarea>
                    <label for="floatingTextarea2">MRuby</label>
                  </div>
                  </div>
                  <div class="d-flex align-items-center highlight-toolbar bg-light ps-3 pe-2 py-1">
                      <small class="font-monospace text-muted text-uppercase">Result</small>
                      <div class="d-flex ms-auto">
                        <button type="submit" class="btn btn-primary btn-lg">OK</button>
                      </div>
                      
                  </div>
                  <div class="highlight-toolbar bg-light">
                    <pre tabindex="0" class="chroma">
                      <code class="language-html" data-lang="bash">
@code_result
                      </code>
                    </pre>
                  </div>
                </form>
              </div>
            </main>
          </div>

        <script src="/public/bootstrap.js"></script>
    </body>
</html>